

    {% for category in categories %}
        <a class="nav-item nav-link link-body-emphasis active"
         href="#"><button class="btn btn-{{category.color}}">{{category.name}}</button></a>
    {% endfor %}
